body {
    background-color:darkred;
}

.screen {
    display: flex;
    gap: 50px;
}

.options {
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color:blanchedalmond;
    border: 1px solid white;
    border-radius: 1em;
}


.container {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    
    border: 10px solid;
    height: 500px;
    width: 500px;
}

.grid {
    display: flex;

    box-sizing: border-box;
    background-color: white;
    border: 1px solid gray;
}

.makeG {
    margin-bottom: 20px;
    font-size: 30px;
    background-color: crimson;

    color: white;
    border: 2px solid white;
    border-radius: 0.5em;
}

.makeG:hover {
    filter:brightness(50%);
}

.rand {
    margin-bottom: 20px;
    font-size: 30px;
    background-color: crimson;

    color: white;
    border: 2px solid white;
    border-radius: 0.5em; 
}

.rand:hover {
    filter:brightness(50%);
}

.clear {
    font-size: 30px;
    background-color: crimson;

    color: white;
    border: 2px solid white;
    border-radius: 0.5em;   
}

.clear:hover {
    filter:brightness(50%);
}